asgiref==3.2.3
boto3==1.11.9
botocore==1.14.9
Click==7.0
Django==3.0.12
django-cleanup==5.0.0
django-cors-headers==3.2.0
django-elasticsearch-dsl==7.1.1
django-filter==2.2.0
django-js-asset==1.2.2
django-mptt==0.10.0
django-rq==2.2.0
djangorestframework==3.10.3
docutils==0.15.2
elasticsearch==7.5.1
elasticsearch-dsl==7.1.0
ffmpeg-python==0.2.0
future==0.18.2
jmespath==0.9.4
mock==3.0.5
mypy==0.720
mypy-extensions==0.4.3
psutil==5.6.7
python-dateutil==2.8.1
pytz==2019.3
redis==3.3.11
rq==1.1.0
s3transfer==0.3.2
sqlparse==0.3.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
urllib3==1.25.7
zipstream-new==1.1.7
django-dynamic-preferences==1.8.1
mutagen==1.44.0
drf-schema-adapter==2.0.7
requests==2.23.0
six==1.12.0
textract==1.6.3
psycopg2==2.8.5
webvtt-py==0.4.5
exif==0.11.0